<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <div id="error" v-for="error in errors">{{error}}</div>
        <p>Pytanie: {{currentQuestion.question}} </p>
        <p>Counter: {{currentQuestion.counter}}</p>
        <label for="answer">Odpowiedź</label>
        <form action="" @submit="test">
            <input id="answerinput" type="text" v-model="answer" placeholder="odpowiedź" :disabled="disabledInput" autocomplete="off">
            <button v-show="!disabledInput" @click="answerm">answer</button>
            <button id="nextbutton" v-show="disabledInput" @click="next">Dalej</button>
            <input id="test" type="text">
        </form>

        <p click="previous">Strzałka w lewo</p>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
