<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <style>
    .active {
      color: red
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="app">
      <select name="" id="" v-model="currenttab">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <div v-if="currenttab==1">
        <scroller :scrollerdata="serie.dane"></scroller>
      </div>
      <div v-if="currenttab==2">
        <scroller :scrollerdata="modele.dane"></scroller>
        <scroller :scrollerdata="klamki.dane"></scroller>
      </div>
      <dupa :test="dupatest"></dupa>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

  <script src="script.js"></script>


</body>

</html>