<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueKonfigurator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
<div id="app" class="container">
    <div class="form-group">
  <label for="typ">Wybierz typ:</label>
  <select name="typ" id="">
  <option value="D1">Drzwi 1-skrzydłowe</option>
  <option value="D2CL">Drzwi 2-skrzydłowe czynne po lewej</option>
  <option value="D2CP">Drzwi 2-skrzydłwe czynne po prawej</option>
  <option value="D2CP">Naświetle boczne</option>
  <option value="F">Dostawka nieotwierana</option>

  </select>

    <label for="wzor">Wybierz wzór:</label>
        <select @change="checkklamki" name="wzor" id="" v-model="wybranywzor">
            <option selected>wybierz</option>
            <option v-for="wzor in wzory">{{wzor}}</option>
        </select>
        <button @click="checkklamki">check</button>
    </div>
    <label for="klamki">Wybierz klamkę</label>
    <select  name="klamki" v-model="wybranaklamka" id="">
        <option v-for="klamka in klamkifilter"  value="">{{klamka}}</option>
    </select>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script>
    var App = new Vue({
        el: '#app',
        data: {
            wzory: ['01', '02', '03'],
            wybranywzor: 'wybierz',
            klamki: ['tahoma', 'magnus', 'prestige'],
            wybranaklamka:'wybierz',
            klamkifilter:[],
            przypisania: {
                '01': ['tahoma', 'magnus']
            }


        },
        methods: {
            checkklamki: function() {
                console.log(this.przypisania[this.wybranywzor]);
                this.klamkifilter = this.przypisania[this.wybranywzor];
            }
        }

    })
</script>


</body>

</html>
